<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.RECORD_AUDIO"/>
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <queries>
    <intent>
      <action android:name="android.intent.action.VIEW"/>
      <category android:name="android.intent.category.BROWSABLE"/>
      <data android:scheme="https"/>
    </intent>
  </queries>
  <application android:name=".MainApplication" android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round" android:allowBackup="true" android:theme="@style/AppTheme" android:supportsRtl="true" android:enableOnBackInvokedCallback="false">
    <meta-data android:name="com.hotupdater.CHANNEL" android:value="production"/>
    <meta-data android:name="com.hotupdater.PUBLIC_KEY" android:value="-----BEGIN PUBLIC KEY-----&#xA;MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEA1W5D/jsKtJjX9d/AS+kZ&#xA;AyONxmKdR6L1+/rI4rilXT2FPKaYTfdl1PugImilxh22o6vnbu8rKj65vxbTZFY/&#xA;zteE8ZtknmC9Isd1aoxf7ftdKZ9YfBozhB+NiZm4h1GqpAVU1R/ILYa6dTPyVQ2i&#xA;H27vKYhy4Zgh0SB0efYf8m5a2aA51ggYmGWmyB6MVQLSmCRpii65GisHszSD5yfo&#xA;2HGLNmopIZUQ0DszP/F50UEPw3/oGT3B1EMCbOYyxEBl2fdS6M+cOSPqGn94sIFx&#xA;k5bBGx1qKIXjLfJ49QbvV288pgRDyyhbUgsUvVqPyr6AHoMj0+k/VkQX8yLKl6+B&#xA;/s10G/eZwULVBuw+PBVP8vsDlItl894n+n/ObIpNgxI1njRYXJsbUnBSJppXIJ1w&#xA;fRpMvuw5xKE3ed7wF/AAV24r19GKbOUOQyTgLGI0e/UT9SYkxU7l+O/3wKDeRqP4&#xA;emLlqCnTKZ6O+bxEL47Xd8nGrb9kh3fawY9nhUscjGNcVQO8yPRT/ujFuyaXy6Pu&#xA;AYYWxMtsxgtXqLjBrgo8X/6h1obT3VFAlIIvEJQ6JfBEqrXWHyhYczqznnH/1alM&#xA;pu6wVjKxKyH7pAtmH8t7NiDDpB3ppNlybqRjUVFRamnA249vt2gzw60IAVa4Vt8I&#xA;f2Ns4OGv8GR9iGm6rea21hkCAwEAAQ==&#xA;-----END PUBLIC KEY-----"/>
    <meta-data android:name="expo.modules.updates.ENABLED" android:value="false"/>
    <meta-data android:name="expo.modules.updates.EXPO_UPDATES_CHECK_ON_LAUNCH" android:value="ALWAYS"/>
    <meta-data android:name="expo.modules.updates.EXPO_UPDATES_LAUNCH_WAIT_MS" android:value="0"/>
    <activity android:name=".MainActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|uiMode" android:launchMode="singleTask" android:windowSoftInputMode="adjustResize" android:theme="@style/Theme.App.SplashScreen" android:exported="true" android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>
</manifest>